.panel-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f7f9fc80;
	z-index: 99;
	justify-content: flex-end;
}

.panel {
	width: 591px;
	transform: translateX(100%);
	transition: transform 0.25s ease;
	padding: 1rem 0;
	z-index: 100;
	box-shadow: 0 5px 15px 0 #d8dceb, 0 2.5px 3px -1.5px #c8cfe9, 0 4.5px 5px -1px #d8dceb;
	border-radius: 12px 0px 0px 12px;
	background-color: #fff;
}

.panel.open {
	transform: translateX(0);
}

.actions {
	justify-content: flex-end;
	gap: 1rem;
	margin: 0 0 1rem 0;
}

.error {
	color: #dc2626;
	margin-top: 8px;
}

h3 {
	color: #2f3059;
	font-family: CircularStd-Medium;
	font-size: 20px;
	font-weight: 500;
	font-style: medium;
	margin: 0;
}

.title-row {
	justify-content: space-between;
	border-bottom: 1px solid #e5e7eb;
	padding: 1rem;
}

p {
	color: #687196;
	font-family: CircularStd-Book;
	font-size: 14px;
	font-weight: 400;
	margin: 6px 0;
}

form {
	padding: 1rem 1.5rem;
}

.btn {
	border-radius: 7px;
	width: 60px;
	height: 30px;
	border: none;
	font-family: CircularStd-Book;
	font-size: 14px;
	text-transform: capitalize;
	cursor: pointer;
}

.cancel {
	box-shadow: 0 0 0 1px #fff, 0 1px 3px 0 #c8cfe9;
	background-color: #fff;
}

.save {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 0 1px #5659ff, 0 1px 3px 0 #c8cfe9;
	background-color: #5659ff;
}

input,
ng-select {
	height: 38px;
	border: none;
	box-shadow: 0 0 0 1px #d8dceb, 0 1.5px 3px -1.5px #c8cfe9, 0 1px 0.5px -1px #d8dceb;
	border-radius: 5px;
	background-color: #fff;
	padding: 0.3rem 0 0.3rem 0.75rem;
	color: #a4aac0;
	font-family: CircularStd-Regular;
	font-size: 14px;
	font-weight: 500;

	&:focus-visible {
		outline: none;
	}

	&:hover {
		box-shadow: 0 0 0 1px #bdc3d4, 0 1.5px 3px -1.5px #afb7d3, 0 1px 0.5px -1px #b4bad1;
	}
}

ng-select {
	height: 48px;
	padding-top: 0.45rem;
}

label {
	width: 542px;
	height: 16px;
	color: #687196;
	font-family: CircularStd-Regular;
	font-size: 14px;
	font-weight: 500;
	margin: 1.5rem 0 0.5rem;
}
