.timeline-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.timeline-header {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 20;
	background: #fff;
	height: 33px;
	overflow-y: scroll;
	border-bottom: 1px solid #e5e7eb;
	border-top: 1px solid #e5e7eb;

	.header-left {
		margin-bottom: 0;
		border-right: 1px solid #e5e7eb;
		padding-left: 31px;
		box-sizing: border-box;
	}
}

.header-left {
	width: 220px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	color: rgba(104, 113, 150, 1);
	font-family: CircularStd-Regular;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 1rem;

	label {
		border-radius: 5px 0px 0px 5px;
		background-color: rgba(241, 243, 248, 0.75);
		padding: 0.35rem 0.3rem;
		width: fit-content;
	}
}

.header-right {
	flex: 1;
	overflow: hidden;
}

.date-row {
	display: flex;
}

.date-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #e5e7eb;
	font-size: 12px;
	height: 33px;
	min-width: 200px;
	width: 200px;
}

.timeline-body {
	display: flex;
	flex: 1;
	overflow: auto;
	height: 73vh;
}

.left-panel {
	width: 220px;
	flex-shrink: 0;
	position: sticky;
	left: 0;
	background: #fff;
	border-right: 1px solid #e5e7eb;
	z-index: 10;
}

.work-center-row {
	height: 48px;
	display: flex;
	align-items: center;
	padding: 0 31px;
	background: #fff;
	color: rgba(3, 9, 41, 1);
	font-family: CircularStd-Regular;
	font-size: 14px;
	font-weight: 500;
}

.right-panel {
	flex: 1;
	min-width: 2000px;
}

.timeline-row {
	height: 48px;
	position: relative;
}

.header-right {
	overflow: hidden;

	.timeline-body {
		display: flex;
		flex: 1;
		overflow: auto;
	}
}
