<div class="header-left flex-row">
	<label class="flex-row align-center">Timescale</label>
	<ng-select [items]="timescaleOptions" bindLabel="label" bindValue="value" [(ngModel)]="timescale"
		[clearable]="false" [searchable]="false" (change)="onTimescaleChange()"></ng-select>
</div>

<div class="timeline-header flex-row">
	<div class="header-left flex-row align-center">Work Centers</div>
	<div class="header-right" #headerRight>
		<div class="date-row flex-row">
			@for(date of visibleDates(); track $index){
			<div class="date-cell flex-row align-center justify-center">
				{{ date | date: timescale === 'day' ? 'MMM d' : timescale === 'week' ? 'w yyyy' : 'MMM yyyy' }}
			</div>
			}
		</div>
	</div>
</div>

<div class="timeline-body flex-row" #timelineBody (scroll)="onBodyScroll()">
	<div class="left-panel">
		@for(wc of workCenters(); track wc.docId){
		<div class="work-center-row flex-row align-center"> {{ wc.data.name }} </div>
		}
	</div>

	<div class="right-panel">
		@for(wc of workCenters(); track wc.docId){
		<div class="timeline-row">
			<app-timeline-cell (emptyCellClick)="openCreate( wc.docId)" (orderClick)="openEdit($event)"
				[timescale]="timescale" [workCenterId]="wc.docId" />
		</div>
		}
	</div>
</div>


<app-work-order-panel [open]="panelOpen" [mode]="panelMode" [workCenterId]="panelWorkCenterId"
	[editingOrder]="editingOrder" (save)="onSave($event)" (cancel)="closePanel()">
</app-work-order-panel>