@use '@angular/material' as mat;
@use './app/styles/ng-select.scss';

html {
	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
		)
	);
}

* {
	font-family: "Circular-Std";
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: CircularStd-Regular;
}
.custom-tooltip {
	white-space: pre-line;
	text-align: left;
}
