@use '@angular/material' as mat;
@use './app/styles/ng-select.scss';

html {
	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
		)
	);
}

* {
	font-family: "Circular-Std";
}

html,
body {
	height: 100%;
}

body {
	color-scheme: light;
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);
	margin: 0;
	font-family: CircularStd-Regular;
}

.custom-tooltip {
	white-space: pre-line;
	text-align: left;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
