// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
			typography: Roboto,
			density: 0,
		)
	);
}

body {
	// Default the application to a light color theme. This can be changed to
	// `dark` to enable the dark color theme, or to `light dark` to defer to the
	// user's system settings.
	color-scheme: light;

	// Set a default background, font and text colors for the application using
	// Angular Material's system-level CSS variables. Learn more about these
	// variables at https://material.angular.dev/guide/system-variables
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);

	// Reset the user agent margin.
	margin: 0;
}
/* You can add global styles to this file, and also import other style files */
* {
	font-family: "Circular-Std";
}

.ng-select .ng-select-container {
	border: none !important;
}

.ng-select-container .ng-value {
	width: fit-content;
	height: 22px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	font-family: CircularStd-Regular;
	border-radius: 5px;
	padding: 0.1rem 0.3rem;
	text-transform: capitalize;
}

.status-wrapper.status-open .ng-select-container .ng-value {
	color: rgba(0, 176, 191, 1);
	border: 1px solid rgba(206, 251, 255, 1);
	background-color: rgba(228, 253, 255, 1);
}
.status-wrapper.status-in-progress .ng-select-container .ng-value {
	background-color: rgba(214, 216, 255, 1);
	color: rgba(62, 64, 219, 1);
}
.status-wrapper.status-complete .ng-select-container .ng-value {
	background-color: rgba(248, 255, 243, 1);
	color: #618d41;
}
.status-wrapper.status-blocked .ng-select-container .ng-value {
	background-color: rgba(252, 238, 181, 1);
	color: rgba(177, 54, 0, 1);
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-tooltip {
	white-space: pre-line;
	text-align: left;
}
