<div class="timeline-cell" [style.width.px]="visibleDates().length * columnWidth">
	<!-- grid -->
	<div class="grid">
		@for( _ of visibleDates(); track $index){
		<div class="grid-col" [style.width.px]="columnWidth">
		</div>
		}

	</div>

	<!-- bars -->
	@for(order of positionedOrders; track $index){
	<div class="work-order" [ngClass]="statusClass(order.data.status)" [style.left.px]="order.left"
		[style.width.px]="order.width">
		{{ order.data.startDate }} - {{order.data.endDate}}
	</div>
	}

</div>