@let columnWidth = 201;
<div class="timeline-cell flex-row" [style.width.px]="visibleDates().length * columnWidth">
	<!-- grid -->
	<div class="grid flex-row">
		@for( date of visibleDates(); track $index){
		<div class="grid-col flex-row align-center" [style.width.px]="200">
			<div class="visible-add" (click)="emptyCellClick.emit(date);"></div>
		</div>
		}
	</div>

	<!-- bars -->
	@for(order of positionedOrders(); track order.docId){
	@let statusClass = `status-${order.data.status}`;
	@let tooltipMessage = `
	${order.data.name}
	Status: ${order.data.status}
	Work Center: ${order.data.workCenterId}
	Start: ${order.data.startDate}
	End: ${order.data.endDate}
	`;

	<div class="work-order flex-row align-center justify-space-between" [matTooltip]="tooltipMessage"
		matTooltipClass="custom-tooltip" [ngClass]="statusClass" [style.left.px]="order.left"
		(click)="$event.preventDefault()" [style.width.px]="order.width" [class.small]="order.width < 30">
		<span class="name">{{ order.data.name }}</span>
		<div class="content flex-row align-center">
			<span class="status" [class.hide]="order.width < 160">{{order.data.status}}</span>
			<button mat-icon-button class="menu" [matMenuTriggerFor]="menu">
				<mat-icon>more_horiz</mat-icon>
			</button>
		</div>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="orderClick.emit(order)"> Edit </button>
			<button mat-menu-item (click)="deleteOrder(order)"> Delete </button>
		</mat-menu>
	</div>
	}
</div>